<% content_for :title do %>About<% end %>
<h2>Darlington Orchestra Committee</h2>
<h3>Online Committee Proceedings</h3>
<p>Any committee member is able to bring up a page on which they can propose a topic or question for discussion or voting.</p>
<p>When satified with the proposal the member can press submit and an email will be sent to each committee member with a link to the page.</p>
<p>On following the link and entering their password, the member will see the proposal, a voting form and a text box in which they can make comments.</p>
<p>After 4 have commented/voted an email will be sent saying there are results plus  "If you haven't yet looked at this please do"</p>
<p>NB.The above are requirements, mostly not yet realized</p>
