<% content_for :title do %>Member<% end %>
<h3>Member's List</h3>
<ul>
  <li>"Angie"</li>
  <li>"Clare"</li>
  <li>"Debbie"</li>
  <li>"Helen"</li>
  <li>"Sarah"</li>
  <li>"Vicky"</li>
  <li>"David"</li>
  <li>"Mike"</li>
  <li>"Howard"</li>
</ul>
